@import '@/assets/styles/base.scss';

.admin-page {
    &__legacy{
        background-color: $blue;
        color: $contrast;
        font-size: 0.8rem;
        font-weight: 700;
        padding: .2rem 1rem;
        border-radius: 1rem;
        margin-top: 1rem;
        display: block;
        width: fit-content;
        
    }
    &__users{
        display: flex;
        flex-direction: column;
        gap: .5rem;
        overflow: scroll;
        max-height: 75vh;
    }
    &__user{
        display: flex;
        gap: 1rem;
        &-image, &-image-placeholder{
            min-width: 2rem;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            object-fit: cover;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $contrast-2;
        }      
        
        &-info{
            width: 100%;
            &-email{
                font-size: .8rem;
                color: $contrast-2;
            }
            &-username{
                font-size: 1rem;
            }
        }

        &-actions-button{
            background-color: transparent;
            border: none;
            color: $contrast-5;
        }
    }
}