@import '@/assets/styles/base.scss';

.favorite-modal {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    &__trigger {
        cursor: pointer;
        position: absolute;
        right: .8rem;
        top: .8rem;
    }

    &__content {
        z-index: 6;
        transition: all .5s;
        visibility: hidden;
        position: fixed;
        bottom: -100%;
        height: fit-content;
        right: 0px;
        background: linear-gradient(180deg, $background 0%,  $dark-background 100%);
        background: black;
        padding-bottom: 2rem;
        @media (max-width : $md){
            width: 100%;
        }
        &.active{
            transition: all .5s;
            visibility: visible;
            display: block;
            position: fixed;
            z-index: 6;
            bottom: 0px;
        }

        &-header{
            padding: 1rem 1.2rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            button{
                cursor: pointer;
                left: 1.5rem;
                top: 1.5rem;
                background-color: transparent;
                color: $contrast;
                border: none;
                font-size: 1rem;
            }
            h3{
                margin: 0;
                font-weight: $font-weight-bold;
                color: $contrast-5;
                font-size: $font-size-small;
                line-height: inherit;
            }
        }

        fieldset{
            border: none;
            padding: .5rem;
            display: flex;
            flex-direction: column;
            gap: .2rem;
            width: 20rem;
            height: fit-content;
            overflow-y: auto;
            overflow-x: hidden;
            margin: 0;
            @media (max-width : $md){
                width: 100%;
                max-height: 18rem;
            }
            input{
                display: none;
                &:checked + label {
                    background-color: $contrast-1;
                    color: $contrast;
                    font-weight: $font-weight-bold;
                }
            }
            label{
                display: flex;
                justify-content: space-between;
                cursor: pointer;
                border-radius: 0.2rem;
                font-weight: 500;
                color: #7a7a7a;
                margin: 0;
                cursor: pointer;
                transition: all .2s;
                width: 100%;
                font-size: 1rem;
                line-height: 1rem;
                padding: .8rem 1rem;
                &:hover{
                    background-color: $contrast-1;
                    color: $contrast;
                }
            }
        }

        &-footer{
            height: fit-content;
            padding: 0rem 1.2rem;
            button, input{
                cursor: pointer;
                background-color: $background;
                font-weight: $font-weight-bold;
                color:$contrast;
                font-size: $font-size-xsmall;
                border: none;
                border-radius: .6rem;
                width: 100%;
                padding: 1rem .5rem;

                &:focus{
                    outline: none;
                }

                svg{
                    height: 1rem;
                }
            }
        }
    }
}