@import '@/assets/styles/base.scss';

.friends {
    
    @media (min-width: $md){
        margin-top: 5rem;
        position: absolute;
        margin-top: 5rem;
        top: 0px;
        width: 100%;
    }
    &__tabs {
        display: flex;
        margin-bottom: 1rem;
    }

    &__tab {
        padding: 10px 20px;
        width: calc(100% / 3);
        cursor: pointer;
        border: none;
        outline: none;
        transition: all 0.3s;
        font-weight: $font-weight-bold;
        color: $contrast-4;
        background-color: transparent;

        &.active {
            color: $contrast;
            border-bottom: 2px solid $contrast;
        }
    }

    &__friends {

        summary {
            padding-bottom: 1rem;
            font-weight: $font-weight-bold;

            span {
                font-weight: $font-weight-normal;
            }
        }
    }

    &__list {
        margin-top: 1.5rem;
    }

    &__item {
        display: flex;
        margin: 1rem 0rem;
        align-items: center;
        justify-content: space-between;

        button {
            border: none;
            background-color: $contrast-1;
            color: $contrast-5;
            border-radius: 5px;
            padding: .3rem .8rem;
        }

        a {
            display: flex;
            flex-direction: row;
            align-items: center;
            color: inherit;
        }

        &-image-wrapper,
        img {
            width: 4rem;
            height: 4rem;
            background-image: url(/default-user.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 50%;
            margin-right: 1rem;
            overflow: hidden;

            @media (max-width: $md) {
                width: 2.5rem;
                height: 2.5rem;
                margin-right: .8rem;
            }
        }
    }

    &__no-result {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color : $contrast-3;
        font-size: .8rem;
        @media (min-width: $md){
            top: auto;
        }
    }
}