@import '@/assets/styles/base.scss';

.header {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 0.5rem 2rem;
    border-bottom: 1px solid $contrast-2;
    background-color: $background;

    &__connect {
        background-color: $blue;
        color: $contrast;
        font-size: $font-size-xsmall;
        font-weight: $font-weight-bold;
        width: fit-content;
        border-radius: 1rem;
        padding: 0.3rem 0.5rem;

        &:hover {
            background-color: $darker-blue;
        }
    }
    &__home {
        color: $contrast;
        font-size: $font-size-xsmall;
        font-weight: $font-weight-bold;
    }
}