@import '@/assets/styles/base.scss';

.header {
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 0.5rem;
    width: 100%;
    border: 1px solid $contrast-2;

    &__connect {
        background-color: $blue;
        color: $contrast;
        font-size: $font-size-xsmall;
        font-weight: $font-weight-bold;
        width: fit-content;
        border-radius: 1rem;
        padding: 0.3rem 0.5rem;

        &:hover {
            background-color: $darker-blue;
        }
    }
}