@import '@/assets/styles/base.scss';

.home {
    text-align: center;
    background-image: url('/bg.png');
    background-size: cover;
    background-position: center;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .logo {
        height: 6em;
        padding: 1.5em;
        will-change: filter;
    }

    .logo:hover {
        filter: drop-shadow(0 0 2em $blue);
    }

    h1{
        margin: 0;
        filter: drop-shadow(0 0 2em rgba(10, 134, 10, 1));
    }

    &-description {
        color: $contrast-4;
    }

    .connect{
        background-color: $blue;
        color: $contrast;
        font-size: 0.8rem;
        font-weight: 700;
        width: fit-content;
        border-radius: 1rem;
        padding: 0.3rem 0.5rem;
    }
}