.slider-container {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 900px;
  overflow: hidden;
  margin: auto;

  .slider-inner {
    display: flex;
    transition: transform 0.5s ease;
    max-height: 100%;
  }

  .slide {
    flex-shrink: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      display: block;
      object-fit: cover;
      object-position: center;
    }
  }

  /* Navigation buttons */
  .slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #1c1c1c;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 16px;

    &.left {
      left: 10px;
    }

    &.right {
      right: 10px;
    }

    > * {
      position: relative;
      top: -1px;
    }
  }

  /* Dots */
  .slider-dots {
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
  }

  .slider-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #1c1c1c;

    &.active {
      background: white;
    }
  }
}
