@import '@/assets/styles/base.scss';

.location-card-display {
    position: fixed;
    z-index: 9;
    top: 0px;
    max-width: 450px;
    width: 100%;
    height: 100%;
    right: 0;
    background: $background;
    display: block;
    box-shadow: $dark-background 0px 0px 14px 0px;
    @media (max-width: $md){
        width: 100%;
        max-width: 100%;
        left: 0;
    }

    &__container {
        position: relative;
        height: 100%;
        width: 100%;

        &>.close-button {
            cursor: pointer;
            position: absolute;
            left: 1.5rem;
            top: 1.5rem;
            background-color: transparent;
            color:$contrast;
            border: none;
            font-size: 1.5rem;
        }
    
        &>.share-button {
            cursor: pointer;
            position: absolute;
            right: 1.5rem;
            top: 1.5rem;
            background-color: transparent;
            color:$contrast;
            border: none;
            font-size: 1.5rem;
        }
    }

    &__bottom {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1rem;
        bottom: 0;
        left: 0;
        padding-bottom: 4rem;
        background: linear-gradient(180deg, transparent 0%, #0000007a 47%, rgba(4, 4, 4, 0.851) 70%, black 100%);

        h2 {
            font-size: 1rem;
            margin: 0;
        }

        a {
            font-weight: $font-weight-bold;
            text-align: center;
            border-radius: 4rem;
            padding: 10px;
            margin: auto;
            width: 100%;
            svg {
                margin-right: .2rem;
            }
        }

        &-actions{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__category{
        margin: 0;
        text-transform: capitalize;
        svg {
            margin-right: .5rem;
        }
    }

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        display: block;
        // background-image: url('/default.png');
        background-size: cover;
        background-position: center
    }

    .favorite-modal{
        position: initial;
        text-align: right;
        font-size: 1.5rem;
        &__trigger{
            position: initial;
        }
    }
}