@import '@/assets/styles/base.scss';

.locations{
    &-header {
        margin: 4rem 0rem 2rem 0rem;
        h1{
            margin: 0;
            text-align: center;
        }
    }
    &-container {
        margin-top: 5rem;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-auto-rows: 200px;
        width: calc(100vw - 2rem);
        grid-gap: 1.5rem;
        justify-items: center;
        overflow-x: hidden;
        margin-bottom: 3rem;
        
        @media (max-width: $md) {
            width: 100%;
            margin-top: 0rem;
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
            grid-auto-rows: 150px;
        }
    
        &__paginate {
            margin: auto;
            width: fit-content;
            padding: 1rem;
    
    
            &-ext {
                opacity: .4;
                transform: scale(.8);
            }
    
            @media (max-width: $md) {
                margin-bottom: 5rem;
            }
    
            &-buttons {
                display: flex;
                gap: 0.3rem;
                flex-direction: row;
    
                .active {
                    transform: scale(1.2);
                    background-color: $blue;
                    color: $contrast;
                    font-weight: $font-weight-bold;
                }
    
                button {
                    transition: all .5s;
                    cursor: pointer;
                    background-color: $contrast-1;
                    border: none;
                    color: $contrast-5;
                    padding: 0.3rem .5rem;
                    border-radius: 4px;
                    box-shadow: #00000057 0px 0px 6px 3px;
                }
            }
        }
    }
}