@import '@/assets/styles/base.scss';

.location-card {
    border-bottom: 2px solid $contrast-2;
    border-radius: 4px;
    display: block;
    height: fit-content;
    padding-bottom: 1rem;
    width: 260px;
    height: auto;
    @media screen and (max-width: 768px) {
        width: 100%;
    }

    &__top{
        img{
            border-radius: 6px;
            height: 200px;
            margin-bottom: 10px;
            width: 100%;
            display: block;
            background-color: $contrast-1;
            background-image: url('/default.png');
            background-size: cover;
            background-position: center;
        }
        h2{
            font-size: $font-size-xsmall;
        }
    }
    &__bottom{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
    }
}