@import '@/assets/styles/base.scss';

.map-header {
    box-shadow: #07070794 0px 6px 6px 3px;
    background-color: #161616;
    position: sticky;
    top: 0;
    z-index: 8;
    width: 100%;
    display: flex;
    justify-content: space-around;
    &-item {
        padding: 0.5rem 1rem;
        width: 100%;
        text-align: center;
        transition: all 0.3s ease;
        border-bottom: .15rem solid $background;
        &.active {
            border-bottom: .15rem solid $contrast;
        }
    }
}

