@import './variables.scss';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark light;
  color: $contrast-5;
  background-color: $background;
  background: linear-gradient(180deg, $background 0%,  $dark-background 90%);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100dvh;
  overflow: hidden;
  @media (max-width : $md) {
    padding-bottom: 4rem;
  }
}

#app {
  width: 100%;
  max-width: 100vw;
  margin: 0 auto;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;

  @media (max-width : $md){
    height: 100dvh;
    overflow: hidden;
  }
}

a {
  color : $blue;
  text-decoration: none;
  transition: all 0.2s;
}

.translate-enter-active,
.translate-leave-active {
  transition: all 0.5s ease;
}

.translate-enter-from,
.translate-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.map-enter-active,
.map-leave-active {
  transition: all 0.3s ease;
}

.map-enter-from,
.map-leave-to {
  transform: translateY(-100%);
}

.image-error{
  text-align: center;
  color: $contrast;
  margin: 0;
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.version-info{
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  color: white;
  z-index: 1000;
  padding: .5rem 1rem;
  background-color: rgb(114 2 2 / 87%);
  border: 1px solid red;
  border-radius: .2rem;
}