@use './variables.scss' as *;
@use './components/forms.scss' as *;
@forward './variables.scss';
@forward './components/forms.scss';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark light;
  color: $contrast-5;
  background-color: $background;
  background: linear-gradient(180deg, $background 0%, $dark-background 90%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100dvh;
  overflow: hidden;

  @media (max-width: $md) {
    padding-bottom: 4rem;
  }
}

#app {
  width: 100%;
  max-width: 100vw;
  margin: 0 auto;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  scrollbar-width: thin;
  scrollbar-color: $contrast-1 transparent;

  @media (max-width: $md) {
    height: 100dvh;
    overflow: hidden;
  }

  .content {
    height: 100vh;
    max-height: calc(100vh);
    overflow-y: auto;
    position: relative;
    box-sizing: border-box;

    &:has(.title-container) {
      padding-top: $titleHeight;
    }

    @media (max-width: $md) {
      overflow-x: hidden;
      padding-bottom: $bottomHeaderHeight;
    }
  }

  .title-container {
    height: $titleHeight;
    width: calc(100% - $sideHeaderWidth);

    @media (max-width: $md) {
      width: 100%;
    }
  }
}

@media (min-width: $md) {
  #app {
    padding-left: $sideHeaderWidth;
    transition: padding-left 0.3s ease;

    &.is-transitioning {
      padding-left: 0 !important;
    }
  }
}

a {
  color: $blue;
  text-decoration: none;
  transition: all 0.2s;
}

.translate-enter-active,
.translate-leave-active {
  transition: all 0.5s ease;
}

.translate-enter-from,
.translate-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.map-enter-active,
.map-leave-active {
  transition: all 0.3s ease;
}

.map-enter-from,
.map-leave-to {
  transform: translateY(-100%);
}

.image-error {
  text-align: center;
  color: $contrast;
  margin: 0;
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.version-info {
  position: fixed;
  bottom: 1rem;
  left: calc(50% + 130px);
  transform: translateX(-50%);
  font-size: 12px;
  white-space: nowrap;
  color: white;
  z-index: 1000;
  padding: 0.5rem 1rem;
  background-color: rgb(114 2 2 / 87%);
  border: 1px solid red;
  border-radius: 0.2rem;
}
