// Colors Dark mode
$background : #161616;
$dark-background : #070707;
$contrast: white;
$contrast-5: #e1e1e1;
$contrast-4: #808080;
$contrast-3: #7a7a7a;
$contrast-2: #494949;
$contrast-1: #252525;
$contrast-0 : #0c0c0c;

$blue: #007bff;
$darker-blue : #0063cd;

// Colors Light mode
// $background : white;
// $contrast: black;
// $contrast-5: #0c0c0c;
// $contrast-4: #252525;
// $contrast-3: #494949;
// $contrast-2: #7a7a7a;
// $contrast-1: #808080;
// $contrast-0 : #e1e1e1;

// Font sizes

$font-size-xsmall : 0.8rem;
$font-size-small : 1rem;
$font-size-medium : 1.2rem;
$font-size-large : 1.4rem;

// Font weights

$font-weight-normal : 400;
$font-weight-medium : 500;
$font-weight-bold : 700;

// Page Width
.page-width{
    padding: 0 2rem;
    @media screen and (max-width: 768px) {
        padding: 0 1.5rem;
    }
}

// Icons 
.icon {
    border-radius: 5px;
    margin: 0;
    padding: 5px 10px;

    &-earth {
        background-color: rgba(129, 209, 255, .129);
        color: #81d1ff;
    }

    &-waze {
        background-color: rgba(52, 168, 81, .188);
        color: #34a851;
    }

    &-edit {
        background-color: hsla(0, 0%, 64%, .149);
        color: #a3a3a3;
    }

    &-delete {
        background-color: hsla(0, 67%, 68%, .102);
        color: #e47878;
    }
}