// Colors Dark mode
$background : #161616;
$contrast: white;
$contrast-5: #e1e1e1;
$contrast-4: #808080;
$contrast-3: #7a7a7a;
$contrast-2: #494949;
$contrast-1: #252525;
$contrast-0 : #0c0c0c;

$blue: #007bff;
$darker-blue : #0063cd;

// Colors Light mode
// $background : white;
// $contrast: black;
// $contrast-5: #0c0c0c;
// $contrast-4: #252525;
// $contrast-3: #494949;
// $contrast-2: #7a7a7a;
// $contrast-1: #808080;
// $contrast-0 : #e1e1e1;

// Font sizes

$font-size-xsmall : 0.8rem;
$font-size-small : 1rem;
$font-size-medium : 1.2rem;
$font-size-large : 1.4rem;

// Font weights

$font-weight-normal : 400;
$font-weight-medium : 500;
$font-weight-bold : 700;

